body{
    background-color: #313131;
}

#header{
    background: linear-gradient(#65799B,#313131);
}

.divider{
    background-color: #65799B;
}

.footer{
    background: linear-gradient(#313131,#65799B);
    color: white;
}

.title{
    text-transform: uppercase;
    text-shadow: 0 0 5px white;
}

.subtitle{
    color:white;
    text-shadow: 0 0 5px black;
}

.label{
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
}

.section:hover{
    box-shadow: 0 0 5px #65799B;
    background-color: #65799B;
}

.button{
    box-shadow: 0 0 3px #65799B;
}

li{
    padding: 3px;
    color:red;
}